<!DOCTYPE html>
<html>
  <head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQQmkW30DNP4DaeizpsJEMlHsMTb70lBQ&libraries=places"
      type="text/javascript" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="app/routes.js"></script>
    <script src="app/services/url-service.js"></script> 
    <script src="app/services/gservice.js"></script> 
    <script src="app/wrapper/wrapper-controller.js"></script>
    <script src="app/services/http-service.js"></script>
    <script src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="http://code.angularjs.org/1.4.8/angular-resource.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/form.css">
    <link rel="stylesheet" href="assets/css/wall.css">
    <link rel="stylesheet" href="assets/css/map.css">
    <link rel="stylesheet" href="assets/css/nav-bar.css">
    <base href="dish">
  </head>
  <body ng-app="mainApp" ng-controller="wrapper-controller" >
    <div class="navigation-bar-c" ng-include="'app/navigation-bar/navigation-bar.html'">
      
    </div>
   
    <div class="wrapper-main-form-c" ng-show="form.showMainForm">
      <div>
        <form class =".main-form-c"name = "searchForm" novalidate>


         <span   ng-class = "{'active' : active.location === true }" class= "wrapper-input"><i class="fa fa-map-marker" aria-hidden="true"></i> <input ng-blur="active.location = false" ng-focus="active.location = true" autocomplete="off" class ="input-c" id="location" type="text" ng-model="input.location" placeholder="Type Address" placeholder="Location" required></span>
          <span  ng-class = "{'active' : active.meal === true }"  class= "wrapper-input"><i  class="fa fa-cutlery" aria-hidden="true"></i><input ng-blur="active.meal = false" ng-focus="active.meal = true" class="input-c" type="text" name="meal" placeholder="meal" ng-model="input.meal" list="meal" required></span>
          <datalist id="meal">
            <option value="Steak"></option>
            <option value="Pasta"></option>
          </datalist>
          <button class="button-c form-button-c " ng-click="showOrHideElement(form, 'showFilterOptions')">Filter <i class="fa fa-filter" aria-hidden="true"></i> {{form.filterList.length || '0'}}
          </button>
          <div ng-show="form.showFilterOptions ">
          <p>Add dietary requirement</p>
            <span  ng-class = "{'active' : active.filter === true }"  class= "wrapper-input"><i  class="fa fa-search" aria-hidden="true"></i><input ng-blur="active.filter = false" ng-focus="active.filter = true" type="text " ng-model="form.filterText " placeholder="Search for requirements" class = "input-c"></span>
          <div >
          <filter-option ng-repeat="value in filtersOptions | filter: form.filterText" value = "value" form ="form" add-or-remove-requirement = "addOrRemoveFilter( value)" is-requirement-choosen = "isRequirementChoosen(value)"></filter-option>         
          </div>
          <div>
          </div>
          </div>
          <button class="button-c form-button-c search-button-c" ng-click="form.search(); results.getResults(); results.show = true; showElement(form, 'showSideForm'); hideElement(form, 'showMainForm'); hideElement(form, 'showFilterOptions')" ng-disabled="searchForm.$invalid" >Search <i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
  
    
    <div ng-show="form.showSideForm" >
      <form class="filterParams">
         <span   ng-class = "{'active' : active.location === true }" class= "wrapper-input"><i class="fa fa-map-marker" aria-hidden="true"></i> <input ng-blur="active.location = false" ng-focus="active.location = true" class="input-c input-side-bar-c" id="locationTextField" type="text" name="location" placeholder="{{input.location || 'Search...'}}" ng-model="input.location" list="location"></span>
         <span  ng-class = "{'active' : active.meal === true }"  class= "wrapper-input"><i  class="fa fa-cutlery" aria-hidden="true"></i><input ng-blur="active.meal = false" ng-focus="active.meal = true" class="input-c input-side-bar-c" type="text" name="meals" placeholder="{{input.meal ||'Meal'}}" ng-model="input.meal" list="meals"  ng-class = "{'active-input' : active.location === true }"></span>
       
        <datalist id="meals">
          <option value="Steak"></option>
          <option value="Pasta"></option>
          <option value="Soup"></option>
          <option value="Pizza"></option>
        </datalist>
      
        <button id="filter-form-button" class="button-c form-button-c " ng-click="showOrHideElement(form, 'showFilterOptions')">Filters <i class="fa fa-filter" aria-hidden="true"></i> <span class="badge-c">{{form.filterList.length || '0'}}</span></button> 
        <button id="update-form-button" class="button-c form-button-c"  ng-click="showElement(results.show); results.getResults(); form.search()" ng-disabled="input.location == '';  input.meal=='' " ng-class = "{'button-disabled-c' : input.location == '' || input.meal== ''}" >Update</button>
        <div>          
 <span style="margin-left: 5px" ng-show ="form.showFilterOptions" ng-class = "{'active' : active.filter === true }"  class= "wrapper-input wrapper-input-filter-c"><i class="fa fa-search" aria-hidden="true"></i><input ng-blur="active.filter = false" ng-focus="active.filter = true" id="requirements" class="input-c" type="text " ng-model="form.filterText " placeholder="Filters: " list="requirements"></span>
      
        <div ng-show ="form.showFilterOptions" class="wrapper-filter-options" >
          <filter-option ng-repeat="value in filtersOptions | filter: form.filterText" value = "value" form ="form" add-or-remove-requirement = "addOrRemoveFilter(value)" is-requirement-choosen ="isRequirementChoosen(value)">
          </filter-option>
        </div>
        </div>

      </form>
    </div>
    <div class="wall-c " ng-show="results.show" id="style-1" >

      <div class = "wrapper-wall-data-c" ng-repeat="data in results.data " >
       <div class = "image-holder"><p>Image</p><p>150 x 150</p></div>
        <p class = "wall-data-p-c">{{data.restraunt}}: <i class="star" ng-repeat="star in data.rating" ng-class="{'fa fa-star-o': star.star === '0','fa fa-star' : star.star === '1' , 'fa fa-star-half-o': star.star === '.5'}" aria-hidden="true"></i></p>

        <p class = "wall-data-p-c">Reviews: {{data.NumberOfReviews}}</p>
        <p class = "wall-data-p-c">Description: {{data.Description}}</p>
        <p class = "wall-data-p-c">Allergines</p>
        <p class = "wall-data-p-c"><i class="fa fa-eur" aria-hidden="true"></i></p>
      </div>
     
    </div> 
    <div ng-show="results.show" class = "maps" id="googleMap"></div>
        
      

  </body>

</html>