.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 60px;
    overflow: auto;
}
.search-control {
    padding: 5px 10px;
}

body {
	margin: 0px;
	padding: 0px;
	min-height: 800px;
	background: linear-gradient(180deg,  #30c9e8 400px, white 400px);
	background-repeat: no-repeat;

}
.dish-form-c {
	margin-top: 100px !important;
	border: solid 3px;
	border-color: #54bbcf;
	border-radius: 25px;
	font-size: 20px;
	margin:0 auto;
	max-width: 50%;
	text-align: center;
	background-color: white;

}
.dish-form-c > h2 {
	padding-top: 0px;
	margin: 0px;
}
.dish-form-c > div > form > {
	margin-left: 5px;

}

.dish-form-c > div > form {
	
	border-radius: 25px;
	margin: 10px;
	padding: 20px;
}
.dish-form-c > div > form > input {

	border-radius: 25px;
	padding: 10px;
  
}
.dish-form-c > div > form > div > input {

	border-radius: 25px;
	padding: 10px;
  
}
.dish-form-c > div > form > button {
	border-radius: 25px;
	background-color: white;
	padding: 10px;
  
}
 .form-button-c {
	border-radius: 25px;
	background-color: white;
	border-color: #54bbcf;
	padding: 10px;
	margin: 5px;
	cursor: pointer;

}
.form-input-c {
	border-radius: 25px;
	background-color: white;
	border-color: #54bbcf;
	padding: 10px;
	margin: 5px;
	cursor: pointer;

}
.h1-c {
	text-align: center;
color: white;
}
.button-disabled-c {
	cursor:no-drop !important;
	background-color:  white  !important;
}

 .requirement-button-c {
	border-radius: 25px;
	background-color: white;
	padding: 10px;
	margin: 5px;
	cursor:pointer;
}
button:hover {
    background-color:  #42e5f4 !important;

}
.search-button-c {
display: block;
    margin:0 auto;
  
}
.filter-button-c {
	display: block;
    margin:0 auto;
    margin-top: 10px;
}


.navigation-bar-c {
	
	border-color: #30c9e8;
	font-size: 20px;
	margin:0 auto;
	max-width: 100%;
	min-height: 50px;
	text-align: center;
	background-color: white;
	margin: 0px;
    
}

.navigation-bar-c > ul {

	padding: 0px;
	margin: 0px;
}
.navigation-bar-c > p {
	float: left;
	margin: 0px;
	padding-left: 5px;
}
.navigation-bar-c > ul > li {
	padding-right: 5px;
	margin: 0px;
	float: left;
	list-style-type: none;
	text-decoration: none;
}
.navigation-bar-c > ul > li > button{
	border-radius: 25px;
	background-color: white;
}
.navigation-bar-c > ul > li > button> a{
	color: black;
	text-decoration-line: none;

}
.dietaryrequirement-list-c {
	border: solid 2px;
    border-radius: 25px;
    margin:0 auto;
	max-width: 90%;
    min-height: 50px;
	background-color: white;
	border-color: #54bbcf;
	padding: px;
	margin: 5px;
	cursor: pointer;
}
.side-bar-dietaryrequirement-list-c {
	border: solid 2px;
    border-radius: 25px;
    margin:0 auto;
	max-width: 350px;
    min-height: 50px;
	background-color: white;
	border-color: #54bbcf;
	padding: px;
	margin: 5px;
	cursor: pointer;
}
.filterParams {

    display: block;	
    float: left;
	margin-top: 0px !important;
	border: solid 3px;
	border-color: #54bbcf;
	border-radius: 25px;
	font-size: 20px;
    min-width: 20%;
	text-align: left;
	background-color: white;
}
.filterParams > p{
 padding-left: 10px;

}
.dish-results-c {
	
	border: solid 2px;
	border-radius: 25px;
	font-size: 20px;
	margin:0 auto;
	max-width: 50%;
	text-align: center;

}
.choosen {
	background-color: #42e5f4;
}

.badge-c {
	cursor: pointer;
	 background-color: #54bbcf;
     color: #fff;
     border-radius: 25px;
     min-width: 10px;
     min-height: 10px;
}